h1{
    color: aqua;
    background-color: blanchedalmond;
}
#text1{
    color: blueviolet;
}
#text2{
    color: palevioletred;
}
.text3{
    background-color: green;
}
.text4{
    background-color: blueviolet;
}